# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=estoque_db
DB_PORT=3306

# CORS
CORS_ORIGIN=*

# E-mail (2FA)
MAIL_ENABLED=false
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=seu_email@gmail.com
MAIL_PASS=sua_app_password
MAIL_FROM="IntelliStock <seu_email@gmail.com>"
